@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Style+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


.service-container {
    width: 95%;
    max-width: 1450px;
    margin: 40px auto;
    display: flex;
    gap: 30px;
}

.service-card {
    flex: 2;
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .08);
}

.title h2 {
    font-weight: 700;
    color: #1d2738;
}

.title p {
    margin-top: 8px;
    color: #777;
    font-size: 17px;
}

hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid #e8e8e8;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.service-info {
    display: flex;
    align-items: center;
    gap: 18px;
}

.service-info i {
    font-size: 28px;
    color: #ff5d73;
    width: 40px;
}

.service-info span {
    color: #2467ff;
    font-size: 20px;
    margin-left: 15px;
    font-weight: 600;
}

.service-info h3 {
    font-size: 24px;
}

.service-info span {
    color: #2467ff;
    font-size: 22px;
    margin-left: 15px;
}

.add-btn {
    width: 180px;
    height: 52px;
    border: 1px solid rgb(3, 117, 3);
    border-radius: 12px;
    background-color: rgba(93, 243, 93, 0.695);
    color: green;
    font-size: 17px;
}

.add-btn i {
    margin-left: 10px;
}

.bottom-text {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2467ff;
    font-size: 18px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cart-card,
.booking-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.cart-card h2,
.booking-card h2 {
    text-align: center;
    padding: 25px;
    font-weight: 700;
    font-size: 34px;
}

.table-header {
    background-color: #f7f8fc;
    display: grid;
    grid-template-columns: 70px 1fr 100px;
    padding: 18px;
    font-weight: 600;
}

.empty-cart i {
    width: 90px;
    height: 90px;
    background-color: #edf4ff;
    color: #2467ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    font-size: 42px;
}

.empty-cart h3 {
    margin-top: 25px;
    font-size: 30px;
    text-align: center;
}

.empty-cart p {
    margin-top: 10px;
    color: #777;
    text-align: center;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-top: 1px solid white;
}
.total h3{
    font-size: 26px;
}
.total span{
    font-size: 28px;
    color: #2467ff;
}

.booking-card{
    padding: 25px;
}
.booking-card h2{
    text-align: left;
    padding: 0;
    margin-bottom: 25px;
}
.booking-card form{
    display: flex;
    flex-direction: column;
}
.booking-card label{
    margin-bottom: 10px;

}
.booking-card input{
    width:100%;
    height:55px;
    border:1px solid #d9d9d9;
    border-radius:10px;
    padding:0 18px;
    font-size:16px;
    margin-bottom:22px;
    outline:none;
    transition:.3s;
}
.row{
    display: flex;
    gap: 20px;
}
.row div{
    flex:1;
}
.book-btn{
    margin-top: 10px;
    height: 60px;
    border: none;
    border-radius: 12px;
    background-color: #2467ff;
    color: white;
    font-size: 20px;
    font-weight: 600;

}

.site-footer{
    width: 100%;
}
.footer-features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 60px 8%;
    background-color: #ffffff;
    text-align: center;
}
.feature-items h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color:black;
}
.feature-items p{
    font-size: 14px;
    color: #666666;
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
}
.feature-items .feature-image{
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.footer-newsletter{
    background-color: #2196f3;
    color: white;
    padding: 50px   8%;
}
.newsletter-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid:20px;
}
.newsletter-container h2 {
    font-size: 32px;
    font-weight: 700;
    flex: 1;
    min-width: 280px;
}
.newsletter-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    flex: 1.5;
    min-width: 300px;
}
.newsletter-form input{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px ;
    font-size: 15px;
    background-color: transparent;
    color: white;
}
.newsletter-form button {
    width: 100%;
    justify-self: start;
    padding: 12px 40px;
    background-color: #ffffff;
    color: #2196f3;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.newsletter-form input::placeholder{
    color: white;
}

.footer-bottom{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    padding: 60px 8%;
    background-color: #ffffff;
}
.bottom-column h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: black;
}
.bottom-column p,
.bottom-column ul{
    font-size: 14px;
    color: #555555;
    list-style-type: none;
}
.bottom-column ul li {
    margin-bottom: 8px;
}
.bottom-column a{
    color: #555555;
    text-decoration: none;
}
.logo-info .footer-logo{
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 20px;
    color: black;
}
.logo-info h3{
    margin-bottom: 5px;
}
.social-icons{
    display: flex;
    gap: 15px;
}
.social-icons a{
        font-size: 20px;
        color: black;
}
